<footer class="text-center pt-10 pb-10">
  <p>
    <%= link_to 'ELDAC.io', 'https://eldac.io/' %> &middot;
    <%= link_to 'Back to top', '#' %>
  </p>
  <p>Copyright &copy; 2022 - <%= Date.today.year %> &middot; All Rights Reserved</p>
</footer>