<footer class="footer mt-auto bg-secondary bg-opacity-10">
  <div class="container text-center">
    <p class="pt-3">Copyright &copy; 2022 - <%= Date.today.year %> &middot; All Rights Reserved</p>
  </div>
</footer>
