<article class="mt-4">
  <h2 class="fs-5"><%= link_to page.title, page.url, class: 'text-decoration-none', target: '_blank' %></h2>
  <p class="fs-6 pt-0 pb-0 page-link"><%= link_to page.url, page.url, class: 'text-decoration-none link-opacity-50', target: '_blank' %></p>
  <p class="fs-6 pt-0"><%= page.blurb %></p>
</article>
