<p>Search Results:</p>

<% @pages.each do |page| %>
<article class="mt-4">
  <h2 class="font-bold text-xl text-slate-700"><%= link_to page.title, page.url %></h2>
  <p class="text-slate-400 text-sm"><%= link_to page.url, page.url %></p>
  <p class="text-black-500"><%= page.blurb %></p>
</article>
<% end %>
