@import 'bootstrap/dist/css/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.home-margin {
  margin-top: calc(100vh / 2 - 132px);
}

a {
  color: #505050;
}

a:hover {
  color: #000;
}

a.page-link {
  color: #505050;
}

a.page-link:hover {
  color: #000;
}

h1, h2 {
  a {
    color: #00c;
  }

  a:hover {
    color: #00e;
  }
}

.active > .page-link {
  background-color: #666;
  border-color: #666;
}

p.page-link {
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.autocomplete-wrapper {
  position: relative;
  padding: 0 0 1.125em 0;

  .home {
    display: inline-block;
  }
}

.autocomplete-result {
  background-color: #808080;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0;
  right: 0;
}

.negative-margin-home {
  margin: -20px 0 0 0;
}

.negative-margin-show {
  margin: -4px 0 0 0;
}

.query {
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #808080;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  background-color: #bbb;
}

.query:focus {
  border-color: #808080;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  background-color: #bbb;
}

.autocomplete-result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-result ul li {
  background: #bbb;
  color: #101010;
  padding: 5px 8px;

  strong {
    color: #009;
  }
}

.autocomplete-result ul li:hover {
  background: #aaa;
  cursor: pointer;

  strong {
    color: #00c;
  }
}

.autocomplete-result ul li.selected {
  background: #ccc;
  font-weight: bold;
  color: #000;
}

::placeholder {
  color: #808080 !important;
  opacity: 1 !important; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #808080 !important;
}
